@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.form-btn {
  width: 55%;
}

th,
td {
  border: 1px solid #000;
  padding: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 30%;
  margin: auto;
  background: navy;
  margin-top: 80px;
  padding: 40px 20px;
}
